:root {
    --ion-toolbar-background: var(--ion-color-primary);
    --ion-card-background: var(--ion-color-primary);
    --ion-card-color: #ffffff;
    --ion-toolbar-color: var(--ion-color-primary-contrast);
    --ion-text-color:#ffffff;
    --ion-background-color:#464646;
    --ion-font-family: "Ubuntu", "Comic Sans"
}
